#agents {
  margin-bottom: 120px;

  .agents-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      color: #110229;
      font-weight: 500;
      font-size: 38px;
    }
    a {
      color: $button-color;
      text-decoration: none;
      font-weight: 500;
      font-size: 18px;
    }
  }
  .agents-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;

    .items {
      display: flex;
      border: 1.6px solid #8f90a6;
      border-radius: 20px;
      min-height: 249px;
      padding: 29px 36px;
      &:hover {
        border: 1.6px solid $button-color;
      }
      .content {
        margin-left: 36px;
        h3 {
          color: $text-heading-color;
          font-weight: 600;
          font-size: 28px;
          line-height: 37px;
          margin-bottom: 18px;
        }
        .info {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 39px;
          color: #8f90a6;
          font-weight: 500;
          font-size: 16px;
          line-height: 25px;
          margin-bottom: 30px;
        }
        .author_btn {
          display: flex;
          justify-content: space-between;
          align-items: center;
          a {
            background: #8f90a6;
            color: #fff;
            text-decoration: none;
            padding: 8px 18px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}
