#properties {
  margin-bottom: 141px;

  h2 {
    font-weight: 600;
    font-size: 38px;
    max-width: 478px;
    margin: auto;
  }

  .list-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 56px;
    .item {
      width: 278px;
      height: 426px;
      text-align: center;
      position: relative;
      cursor: pointer;
      h3 {
        font-weight: 600;
        font-size: 24px;
        margin-top: 48px;
      }
    }
    .america {
      background: url("../Images/my.png") no-repeat;
    }
    .spain {
      background: url("../Images/spain.png") no-repeat;
    }
    .london {
      background: url("../Images/london.png") no-repeat;
    }
    .france {
      background: url("../Images/phap.png") no-repeat;
    }
    .item:hover:after {
      display: block;
    }
    .item::after {
      content: "";
      height: 100%;
      width: 100%;
      background: rgba(2, 2, 2, 0.274);
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 30px;
      display: none;
    }
  }
}
